<form [formGroup]="form" novalidate>
  
  <mat-checkbox formControlName="aberto" (change)="onSelected($event)">
      Aberto!
  </mat-checkbox><br>
  <div *ngIf="form.get('aberto').value" >
      <mat-form-field >
        <input type="text" MatInput   formControlName="abertura"  placeholder="Abertura">
        
      </mat-form-field>
      <mat-label>às</mat-label>
      <mat-form-field>
        <input type="text" MatInput formControlName="fechamento" placeholder="Fechamento">
        
      </mat-form-field><br>
  </div>
        <hr> 

  <button mat-raised-button color="primary" type="submit" >Enviar</button>

</form>