<form FormGroup="form" novalidate>

  <mat-checkbox class="example-margin">Segunda</mat-checkbox>
  <mat-form-field>
    <input type="text" MatInput  FormControlName="Aberturasegunda" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" MatInput FormControlName="Fechamentosegunda" placeholder="Fechamento">
  </mat-form-field><br>

  
  <mat-checkbox class="example-margin">Terça</mat-checkbox>
  <mat-form-field>
    <input type="text" MatInput FormControlName="Aberturaterca" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" MatInput FormControlName="Fechamentoterca" placeholder="Fechamento">
  </mat-form-field><br>

  <mat-checkbox class="example-margin">Quarta</mat-checkbox>
  <mat-form-field>
    <input type="text" MatInput FormControlName="Aberturaquarta" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" MatInput FormControlName="Fechamentoquarta" placeholder="Fechamento">
  </mat-form-field><br>

  <mat-checkbox class="example-margin">Quinta</mat-checkbox>
  <mat-form-field>
    <input type="text" FormControlName="Aberturaquinta" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" FormControlName="Fechamentoquinta" placeholder="Fechamento">
  </mat-form-field><br>

  <mat-checkbox class="example-margin">Sexta</mat-checkbox>
  <mat-form-field>
    <input type="text" FormControlName="Aberturasexta" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" FormControlName="Fechamentosexta" placeholder="Fechamento">
  </mat-form-field><br>

  <mat-checkbox class="example-margin">Sábado</mat-checkbox>
  <mat-form-field>
    <input type="text" FormControlName="Aberturasab" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" FormControlName="Fechamentosab" placeholder="Fechamento">
  </mat-form-field><br>

  <mat-checkbox class="example-margin">Domingo</mat-checkbox>
  <mat-form-field>
    <input type="text" FormControlName="Aberturadom" placeholder="Abertura">
  </mat-form-field>
  <mat-label>às</mat-label>
  <mat-form-field>
    <input type="text" FormControlName="Fechamentodom" placeholder="Fechamento">
  </mat-form-field><br>

  <button type="submit" mat-raised-button   >Enviar</button>

</form>

